.gradle/
ansible/artifacts
client/dist/
client/node_modules/
client/bower_components/
client/.tmp/
.idea
.project
.classpath
*.iml
client/app/styles/
client/app/fonts/
fta/build/
fta/target/
fta/selenium-drivers
.settings
.vagrant
build/
