%{{CFG_GROUP}} ALL = (ALL) NOPASSWD: /sbin/service wildfly-{{CFG_USER}} start, /sbin/service wildfly-{{CFG_USER}} stop, /sbin/service wildfly-{{CFG_USER}} restart, /sbin/service wildfly-{{CFG_USER}} status
