<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>Side Effects</th>
    <th>Total Number of Times Reported</th>
    <th>Outcome of Side Effects</th>
  </tr>
  <tbody ng-repeat="reaction in drugEvents.searchResults | orderBy:'-count'">
    <tr>
      <td>{{reaction.term}}</td>
      <td>{{reaction.count}}</td>
      <td>
        <button class="btn btn-primary btn-outcome center-btn"
                ng-click="drugEvents.expandOutcome($index)"
                ng-if="reaction.outcomes.length"
                alt="{{reaction.outcomes.length}} outcomes">{{reaction.outcomes.length}}</button>
      </td>
    </tr>
    <tr collapse="drugEvents.outcomeExpanded != {{$index}}">
      <td colspan="3">
        <table class="table table-bordered table-responsive">
          <thead>
          <tr>
            <th>Number of Times Reported</th>
            <th>Outcome of Side Effect</th>
          </tr>
          </thead>
          <tbody ng-repeat="outcome in reaction.outcomes">
          <tr class="{{drugEvents.getOutcomeRowClass(outcome.term)}}">
            <td>{{outcome.count}}</td>
            <td>{{outcome.term}}</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
  </thead>
</table>
