<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>Reaction</th>
    <th>Count</th>
    <th>PRR</th>
    <th>ROR</th>
    <th>Reaction Outcomes</th>
  </tr>
  <tbody ng-repeat="reaction in drugEvents.searchResults  | limitTo:20">
    <tr>
      <td>{{reaction.reactionmeddrapt}}</td>
      <td>{{reaction.count}}</td>
      <td>{{reaction.prr}}</td>
      <td>{{reaction.ror}}</td>
      <td>
        <button class="btn btn-info btn-outcome" ng-click="drugEvents.expandOutcome($index)">{{reaction.outcomes.length}}</button>
      </td>
    </tr>
    <tr collapse="drugEvents.outcomeExpanded != {{$index}}">
      <td colspan="3">
        <table class="table table-bordered table-responsive">
          <thead>
          <tr>
            <th>Outcome</th>
            <th>Count</th>
          </tr>
          </thead>
          <tbody ng-repeat="outcome in reaction.outcomes">
          <tr class="{{drugEvents.getOutcomeRowClass(outcome.term)}}">
            <td>{{drugEvents.getOutcomeName(outcome.term)}}</td>
            <td>{{outcome.count}}</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
  </thead>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Indication</th>
    <th>Count</th>
  </tr>
  <tbody ng-repeat="indication in drugEvents.indicationResults | limitTo:10">
    <tr>
      <td><span ng-show="!indication.drugindication">TOTAL INDICATIONS</span>{{indication.drugindication}}</td>
      <td>{{indication.count}}</td>
    </tr>
  </tbody>
  </thead>
</table>
