
@form-bg-color: #018F8E;
@tab-active-bg-color: #014A8E;
@testimonials-font-color: #8B7F78;

.help-block {
  color: #990000;
  margin: 0;
  display: inline-block;
  padding-left: 10px;
}

.round {
  border-radius: 25px;
}

.age-label, .weight-label{
  @media screen and (max-width: @screen-xs-max) {
    padding-top: .5em;
    left: 0px;
  }
}

.adeSearchForm {
  border-top: thick solid #014A8E;
  background-color: @form-bg-color;
  color: white;
  padding: .5em 1em;

  @media screen and (min-width: @screen-sm-min) {
    //padding: .5em;
  }
}

.check-meds-header {
  text-shadow: -1px 1px 10px #fff, 1px -1px 8px #fff;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: greenyellow;

  @media screen and (min-width: @screen-xs-min) {
    padding-top: .5em;
    font-size: 1.5em;
  }

  @media screen and (min-width: @screen-sm-min) {
  padding-top: .5em;
    font-size: 1.5em;
  }

  @media screen and (min-width: @screen-md-min) {
    font-size: 1.5em;
  }
}

.center-btn {
  margin-left: auto;
  margin-right: auto;
  display: table;
}


.demographic-details {
  font-weight: bold;
  font-size: 1.5em;

  img{
    position: relative;
    bottom: 4px;
    margin-right: 2px;
  }

  @media screen and (min-width: @screen-xs-min) {
    font-size: 1.5em;
  }
  @media screen and (min-width: @screen-sm-min) {
    font-size: 1.5em;
  }
}

.check-meds-text {
  display: inline;
}

.check-meds-header-img {
  display: inline;
}

.ads-person {
  vertical-align: middle;
  height: auto;
  width: 1.5em;
  float: left;

  @media screen and (min-width: @screen-sm-min) {
    //width: 2em;
  }
}

.btn-holder {
  margin-bottom: 20px;
}

.btn-outcome {
  padding-left: 30px;
  padding-right: 30px;
}

.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.nav-tab {
  margin-bottom: 0;
}

.nav-tabs.nav {

  li {
    background-color: @form-bg-color;
    border-radius: 25px;
  }

  li:first-child {
    margin-top: 5px;
  }


  @media screen and (min-width: @screen-sm-min) {
    li {
      border-radius: 0px;
    }

    li:first-child {
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
    }

    li:last-child {
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
    }

    li:nth-of-type(2) {
      border-color: white;
      border-left-width: 2px;
      border-right-width: 2px;
      border-left-style: solid;
      border-right-style: solid;
    }
  }

  li.active {
    background-color: @tab-active-bg-color;
    a, a:active, a:hover, a:focus,  {
      border: 0px;
    }
  }

  li a, li a:active, li a:focus, li a:hover {
    background-color: transparent;
    border: 0px;
    color: white;
  }

  li:hover {
    background-color: lighten(@tab-active-bg-color, 2%);
  }
  li:active {
    background-color: darken(@tab-active-bg-color, 2%);
  }
}

.medical-bg-img {

  @media screen and (min-width: @screen-sm-min) {
    display: none;
  }
}

.drug-events:not(.ran-query) {
  background-color: transparent;

  @media screen and (min-width: @screen-sm-min) {
  }
}
.drug-events .background-img img {

  display: none;

  @media screen and (min-width: @screen-sm-min) {
    display: inherit;
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
  }
}

.welcome-backdrop {
  position: relative;
  //width: 75%;
  height: 30px;
  background-color: rgba(255, 255, 200, 0.85);

}

.form-fixed-width {

  @media (min-width: @screen-sm-min) {
    position: relative;
    width: 300px;
  }
}

.lg-landing-overlay {

  background-color: rgba(255, 255, 255, 0.85);
  padding-bottom: 1.5em;

  .welcome-section {
    padding-top: 20px;
    h2 {
      color: @form-bg-color;
      font-weight: bold;
      font-family: 'Lobster', cursive;
      font-size: 46px;
    }

    hr {
      margin-top: 5px;
      border-color: @form-bg-color;
    }

    div {
      font-size: 20px;
      color: @form-bg-color;
      padding-bottom: 20px;
    }
  }

  .testimonials-section{
    color: @testimonials-font-color;
    border-top-width: 5px;
    border-bottom-width: 5px;
    text-align: center;
    hr {
      border-width: 2px;
      border-color: darken(@testimonials-font-color, 1%);
    }
    h2 {
      img {
        height: 1em;
        position: relative;
        bottom: 3px;
        margin-right: 5px;
      }
    }
    p {
      padding-bottom: 20px;
    }
  }

  .quote-img {
    float: left;
    height: 4em;
  }

  .testimonial-testimony {
    text-align: left;
  }
}


.tab-pane {
  border: 0px;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.tab-instructions {
  margin-right: 15%;
  margin-left: 15%;
}

.nav-tabs a {
  font-size: @font-size-h4;
}

.copyright {
  position: relative;
}
