module add \
  --name={{APPLICATION_PREFIX}}.configuration \
  --resources=/home/{{CFG_USER}}/archive/application.properties \
  --module-xml=/home/{{CFG_USER}}/archive/application-properties-module.xml